<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Enter Text</title>
  </head>
  <body>
    <form action="{{ url_for('main') }}" method="POST">
      <fieldset>
        <legend>Enter Mobile Review:</legend>
        <textarea name="tweet" rows="10" cols="80" required></textarea>
        <br />
        <br />
        <input type="submit" />
      </fieldset>
    </form>
    <br />
    <div class="result">
      {% if rating1 and rating2 %} {% for variable, value in
      original_input.items() %}
      <b>{{ variable }}</b> : {{ value }} {% endfor %}
      <br />
      <br />
      <p style="font-size: 30px">The Review looks:</p>
      <p style="font-size: 40px">
        {{ rating1 }}% Positive and {{ rating2 }}% Negative
      </p>
      {% endif %}
    </div>
  </body>
</html>
